
# Exlude bin files
bin/
test-bin/

# Exclude testing files
testing/

# Exclude gen files
xtend-gen
src-gen
*.xml_gen

# Exclude Eclipse launch configurations
*.launch

# Exclude ser files
*.ser

### Eclipse ###
#*target*
#*.jar
*.war
*.ear
*.class

###  mvn  ###
*/target/


# eclipse specific git ignore
*.pydevproject
#.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
#.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

*.orig
de.fraunhofer.isst.automotive.stars.reqmon.dsl.requirement.data.tests/.__synthetic0_norm.reqDSL
*.aird
*.antlr-generator-3.2.0-patch.jar
*/model/generated/*
