<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="DslAnalyzer" name="DSL Analyzer" schema="schema/DslAnalyzer.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fraunhofer.isst.automotive.stars.mapping.editors.LanguageMappingEditor"
            contributorClass="de.fraunhofer.isst.automotive.stars.mapping.editors.LanguageMappingEditorContributor"
            default="false"
            extensions="dslm"
            icon="icons/sample.png"
            id="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.editor1"
            name="STARS Mapping Editor">
      </editor>
   </extension>

</plugin>
