<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.systemimporter" name="SystemImporter" schema="schema/de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.systemimporter.exsd"/>
   <extension-point id="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.requirementimporter" name="RequirmentImporter" schema="schema/de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.requirementimporter.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.editor.LanguageMappingEditor"
            contributorClass="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.editor.LanguageMappingEditorContributor"
            default="false"
            extensions="dslm"
            icon="icons/sample.png"
            id="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.editor"
            name="STARS Mapping Editor">
      </editor>
   </extension>

</plugin>
