<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.fraunhofer.de/isst/automotive/stars/reqmon/dsl/mapping/SysDef"
			class = "de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.sysDef.SysDefPackage"
			genModel = "model/generated/SysDef.genmodel" />
	</extension>
</plugin>
