Always
[R1] When the event Activate ACC occurs, the ACC must store the value of Current Velocity as Cruise Velocity.

State Off (initial)
[R2] The ACC requests a Force of 0.

[R3] When the event Activate ACC occurs and the flag Brake applied is not set, the ACC must switch to state of operation On.

State On
[R4] When the flag Brake applied is set, the ACC must switch to state of operation Off.

[R5] When the ACC requests a negative Force below a fix Force Limit, the ACC must set the flag Warning.

State Speed (initial)
[R6] The ACC requests a Force that will change Current Velocity towards Cruise Velocity and will not overshoot by more than Velocity Tolerance.

[R7] When the flag Vehicle in front is set, Relative Velocity of Vehicle in front is negative and Distance to Vehicle in front is less than Distance Horizon, the ACC must switch to state of control Distance.

State Distance
[R8] The ACC requests a Force that will change Distance to Vehicle in front towards Cruise Distance and will not overshoot by more than half of Cruise Distance.

[R9] When the flag Vehicle in front is not set, the ACC must switch to state of control Speed.

[R10] When the flag Vehicle in front is set and the Relative Velocity of Vehicle in front is positive and the Current Velocity exceeds Cruise Velocity, the ACC must switch to state of control Speed.

[R11] When the flag Vehicle in front is set and the Distance to Vehicle in front is bigger than the Distance Horizon, the ACC must switch to state of control Speed.