<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fraunhofer.isst.automotive.stars.editor.editors.LanguageMappingEditor"
            contributorClass="de.fraunhofer.isst.automotive.stars.editor.editors.LanguageMappingEditorContributor"
            extensions="lme"
            icon="icons/sample.png"
            id="de.fraunhofer.isst.automotive.stars.editor.editors.LanguageMappingEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>

</plugin>
