<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.requirement">
      <client
            class="de.fraunhofer.isst.automotive.stars.reqmon.dsl.requirement.data.analyzer.RequirementDslParser"
            filter="reqDSL"
            lang="http://www.fraunhofer.de/isst/automotive/stars/reqmon/dsl/requirement/RequirementDSL">
      </client>
   </extension>

</plugin>
