<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.ui.mappingparser">
      <client
            class="de.fraunhofer.isst.automotive.stars.reqmon.dsl.mapping.parser.MappingLanguageParser"
            lang="map">
      </client>
   </extension>
</plugin>
